@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css?family=Serendipity+Wide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url(//db.onlinewebfonts.com/c/81651a191b7129993b0871c834a19600?family=Orpheus+Pro);

@font-face {
  font-family: Bluehonest;
  src: url('assets/fonts/Bluehonest\ Demo\ Version.otf');
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Navigation Bar Bootstrap */
/* .navbar {
  height: 45px;
} */

.navbar-toggler{
  padding: 0rem 0.5rem;
}


/* Navigation others to be deleted */
.top-nav {
  position: 'relative';
  display: 'float';
  justifyContent: 'center';
}

.main {
  margin-top: 300px;
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 99;
}

.ant-menu-root {
  display: inline-block;
  width: 326px;
  width: 100%;
  text-align: center;
}

.rsvp-button {
  position:absolute;
  top:0;
  right:0;
  margin-top: 7px;
  margin-right: 80px;
}

/* Home Page */
.home {
  /* width: 100%; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Wedding Event Page */
.event{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: inherit;
  align-items: center;
  justify-content: center;
  background-color: white;
  background-image: url("../src/assets/leaves1.jpg");
  background-size:cover;
  background-repeat: no-repeat;
}

.weddingEvent {
  height: 100%;
  width: 100%;
}

.youtubeVideo{
  width: 100%;
  height: 100%;
  font-family:'Montserrat', sans-serif;
}

.invitation {
  width: 100%;
  height:100%;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 3.0vh;
}

/* .invitationContent{
  margin-top: 92px;
} */

.invitationName{
  font-family: "Bluehonest", cursive;
  font-size: 9vh;
}

.invitationAnd{
  font-size: 5vh;
}

.parents{
  margin-top: -15px;
}

.story {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  background-color: #8bbbd9;
}

.rsvp {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  background-color: #bf9b9b;
}

.s-heading h1 {
  color: var(--highlight);
  font-size: 3rem;
  margin: 0px;
  padding: 0px;
  font-family: 'Cookie', cursive;
  font-weight: 400!important;
}
.s-heading p {
  color: var(--highlight);
  font-size: 1rem;
  margin: 0px;
  padding: 0px;
}
.s-heading {
  text-align: center;
  margin: 3px 0px;
}

.home-content {
  position: absolute;
  top: 55px;
  letter-spacing: 1px;
  text-align: center;
}

.prename {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2.5vw;
  margin-top: 1rem;
  text-align: center;
}

.name {
  font-family: 'Bluehonest', cursive;
  font-weight: 400!important;
  font-size: 5.6vw;
  margin-top: -1.2rem;
  text-align: center;
}

.weddingDate {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2.0vw;
  margin-top: -2.8rem;
  text-align: center;
}

.imgContainer{
  position:relative;
  width: 100%;
  height: 100%;
  display: table;
  z-index: -1;
}

.imgContainer img {
  position: relative;
}



.desktop.imgContainer {display:block;}
.mobile.imgContainer {display:none}

@media all and (max-width: 640px) {
  .desktop.imgContainer {display: none;}
  .mobile.imgContainer {display: block;}
  .name {top: 90px;}
}


