@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css?family=Serendipity+Wide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url(//db.onlinewebfonts.com/c/81651a191b7129993b0871c834a19600?family=Orpheus+Pro);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@font-face {
  font-family: Bluehonest;
  src: url('assets/fonts/Bluehonest\ Demo\ Version.otf');
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Navigation Bar Bootstrap */
/* .navbar {
  height: 45px;
} */

.navbar-toggler{
  padding: 0rem 0.5rem;
}

.brand{
  font-family: 'Bluehonest', cursive;
  font-size: 27px !important;
}

.blueHonest{
  font-family: 'Bluehonest', cursive;
}

/* Navigation others to be deleted */
.top-nav {
  position: 'relative';
  display: 'float';
  justifyContent: 'center';
}

.main {
  margin-top: 300px;
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 99;
}

.ant-menu-root {
  display: inline-block;
  width: 326px;
  width: 100%;
  text-align: center;
}

.rsvp-button {
  position:absolute;
  top:0;
  right:0;
  margin-top: 7px;
  margin-right: 80px;
}

/* Home Page */
.home {
  /* width: 100%; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Wedding Event Page */

.weddingEvent {
  height: 100%;
  /* width: 100%; */
  display: flex;
  flex-direction: inherit;
  align-items: center;
  justify-content: center;
  background-color: white;
  /* background-image: url("../src/assets/leaves1.jpg"); */
  background-size:cover;
  background-repeat: no-repeat;
  background: rgb(139,187,217);
  background: linear-gradient(0deg, rgba(139,187,217,1) 0%, rgba(223,238,245,1) 30%);
}

@media only screen and (min-width: 1170px){
  .weddingEvent{
    height:100vh
  }
}

.youtubeVideo{
  width: 100%;
  height: 100vh;
  font-family:'Montserrat', sans-serif;
}

.invitation {
  width: 100%;
  height:100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 3.0vh;
  color: #544b45;
}

/* .invitationContent{
  margin-top: 92px;
} */

.invitationName{
  font-family: "Bluehonest", cursive;
  font-size: 9vh;
}

.parents{
  margin-bottom: 5px;
}

/* Our Story Section */
.story {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
background: rgb(242,224,220);
background: linear-gradient(0deg, rgba(242,224,220,1) 0%, rgba(139,187,217,1) 30%);
}

@media only screen and (min-width: 1170px){
  .vertical-timeline--two-columns .vertical-timeline-element-icon {
    width: 40px !important;
    height: 40px !important;
    left: 51% !important;
    margin-left: -32px !important;
  }

  .vertical-timeline--two-columns .vertical-timeline-element-content .vertical-timeline-element-date {
    top: -6px!important;
    text-align: left;
    font-weight: bold;
  }

  .rsvp {
    min-height: 100vh;
  }
}


.rsvp {
  height: 100%;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background-color: #F2E0DC;
}

.s-heading h1 {
  color: var(--highlight);
  font-size: 3rem;
  margin: 0px;
  padding: 0px;
  font-family: 'Cookie', cursive;
  font-weight: 400!important;
}
.s-heading p {
  color: var(--highlight);
  font-size: 1rem;
  margin: 0px;
  padding: 0px;
}
.s-heading {
  text-align: center;
  margin: 3px 0px;
}

.home-content {
  position: absolute;
  top: 55px;
  letter-spacing: 1px;
  text-align: center;
}

.prename {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2.5vw;
  margin-top: 1rem;
  text-align: center;
}

.name {
  font-family: 'Bluehonest', cursive;
  font-weight: 400!important;
  font-size: 5.6vw;
  margin-top: -1.2rem;
  text-align: center;
}

.weddingDate {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2.0vw;
  margin-top: -2.8rem;
  text-align: center;
}

.imgContainer{
  position:relative;
  width: 100%;
  height: 100%;
  display: table;
  z-index: -1;
}

.imgContainer img {
  position: relative;
}

.rsvpPhoto {
  z-index: 1 !important;
  overflow: hidden;
}

.rsvpForm {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  padding-top: 70px !important;
}

.rsvpPhoto img {
  /* center the image vertically */
  position: absolute;
  top:-100%; left:0; right: 0; bottom:-100%;
  margin: auto;
}

.rsvpForm .row>* {
  margin-bottom: 37px;
}

.rsvpForm .row {
  padding-left: 50px;
  padding-right: 50px;
}

.rsvpForm .invitation {
  font-family: "Bluehonest", cursive;
  font-size: 6vh;
  text-align: center;
  color: #7b7571;
  word-spacing: -14px;
}

.gallery {
  position: relative;
  height: 100vh; 
  padding-left: 50px;
  padding-right: 50px;  
  padding-top: 3rem;
  padding-bottom: 3rem; 
  background: rgb(242,201,220);
  background: linear-gradient(0deg, rgba(242,201,220,1) 0%, rgba(242,224,220,1) 100%);
}

.galleryBg {
  background: transparent;
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 60% !important;
}

.galleryBg2 {
  background: transparent;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 60% !important;
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.galleryPage {
    height: 90vh !important;  
    padding: 20px;
    background-color: #fdfaf7;
    color: #785e3a;
    border: 1px solid #c2b5a3;
    overflow: hidden;
}

.galleryPage.--right {
    border-left: 0;
    box-shadow: inset 7px 0 30px -7px rgba(0,0,0,.4);
}

.galleryPage.--left {
    border-right: 0;
    box-shadow: inset -7px 0 30px -7px rgba(0,0,0,.4);
}

.galleryPage li{
  text-align:center;
  display:inline-block;
  list-style:none;
  position:relative;
  border:solid 12px #fff;
  background:#fff;
  box-shadow:0 0 12px 0px #555;
  transition:all 1s ease;
  -o-transition:all 1s ease;
  -moz-transition:all 1s ease;
  -webkit-transition:all 1s ease;
  top:50px;
}

.galleryPage li:nth-child(1){
    transform:rotate(-10deg); 
    margin: 0px 40px 10px 0px;
}

.galleryPage li:nth-child(2){
    /* transform:rotate(6deg); */
    margin: 0 12px;
    background: transparent;
    border:0px;
    box-shadow:0px;
}

.galleryPage li:nth-child(3){
    /* transform:rotate(2deg);  */
    margin: 0px 40px 0px 0px;
    margin: 0 15px;
    background: transparent;
    border:0px;
    box-shadow:0px;
}

.galleryPage li:nth-child(4){
     transform:rotate(8deg); 
}

.galleryPage li img {
  width: 15vw;
  margin-bottom: 3em;
}

.galleryPage ul{
  position:absolute;
  margin:0;
  padding:0;
}

.emptyImage {
  background: transparent;
  width: 15vw;
}

.openSans {
  font-family: 'Open Sans', sans-serif !important;
}

.desktop.imgContainer {display:block;}
.mobile.imgContainer {display:none}

@media all and (max-width: 991px) {
  .desktop.imgContainer {display: none;}
  .mobile.imgContainer {display: block;}
  .name {top: 90px;}

  .gallery {
    padding: 10px;
    height: 100%; 
  }
    
  .galleryPage {
      height: inherit !important;  
      padding: 0px;
  }

  .galleryPage li:nth-child(1){
      /* transform:rotate(-10deg); */
      margin: 0px 0px 30px 0px;
  }

  .galleryPage li:nth-child(2){
      /* transform:rotate(6deg); */
  }

  .galleryPage li:nth-child(3){
      /* transform:rotate(2deg); */
      margin: 0px 0px 0px 0px;
  }

  .galleryPage li:nth-child(4){
      /* transform:rotate(-8deg); */
  }
}


@media all and (max-width: 649px) {
  .galleryPage li img {
    width: 35vw;
    margin-bottom: 3em;
  }
}

.footer { 
  background: rgb(242,201,220);
  color: rgb(93, 88, 84) !important;
}

/* Bootstrap Related */
.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.row>* {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

/* Material UI related */
.MuiFormLabel-root {
    color: rgb(93, 88, 84) !important;
} 