@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css?family=Serendipity+Wide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url(//db.onlinewebfonts.com/c/81651a191b7129993b0871c834a19600?family=Orpheus+Pro);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@font-face {
  font-family: Bluehonest;
  src: url('assets/fonts/Bluehonest\ Demo\ Version.otf');
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Navigation Bar Bootstrap */
/* .navbar {
  height: 45px;
} */

.navbar-toggler{
  padding: 0rem 0.5rem;
}

.brand{
  font-family: 'Bluehonest', cursive;
  font-size: 27px !important;
}

/* Navigation others to be deleted */
.top-nav {
  position: 'relative';
  display: 'float';
  justifyContent: 'center';
}

.main {
  margin-top: 300px;
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 99;
}

.ant-menu-root {
  display: inline-block;
  width: 326px;
  width: 100%;
  text-align: center;
}

.rsvp-button {
  position:absolute;
  top:0;
  right:0;
  margin-top: 7px;
  margin-right: 80px;
}

/* Home Page */
.home {
  /* width: 100%; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Wedding Event Page */

.weddingEvent {
  height: 100%;
  /* width: 100%; */
  display: flex;
  flex-direction: inherit;
  align-items: center;
  justify-content: center;
  background-color: white;
  /* background-image: url("../src/assets/leaves1.jpg"); */
  background-size:cover;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 1170px){
  .weddingEvent{
    height:100vh
  }
}

.youtubeVideo{
  width: 100%;
  height: 100vh;
  font-family:'Montserrat', sans-serif;
}

.invitation {
  width: 100%;
  height:100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 3.0vh;
  color: #7b7571;
}

/* .invitationContent{
  margin-top: 92px;
} */

.invitationName{
  font-family: "Bluehonest", cursive;
  font-size: 9vh;
}

.parents{
  margin-bottom: 5px;
}

/* Our Story Section */
.story {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #8bbbd9;
}

@media only screen and (min-width: 1170px){
  .vertical-timeline--two-columns .vertical-timeline-element-icon {
    width: 40px !important;
    height: 40px !important;
    left: 51% !important;
    margin-left: -32px !important;
  }

  .vertical-timeline--two-columns .vertical-timeline-element-content .vertical-timeline-element-date {
    top: -6px!important;
    text-align: left;
    font-weight: bold;
  }

  .rsvp {
    min-height: 100vh;
  }
}


.rsvp {
  height: 100%;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background-color: #F2E0DC;
}

.s-heading h1 {
  color: var(--highlight);
  font-size: 3rem;
  margin: 0px;
  padding: 0px;
  font-family: 'Cookie', cursive;
  font-weight: 400!important;
}
.s-heading p {
  color: var(--highlight);
  font-size: 1rem;
  margin: 0px;
  padding: 0px;
}
.s-heading {
  text-align: center;
  margin: 3px 0px;
}

.home-content {
  position: absolute;
  top: 55px;
  letter-spacing: 1px;
  text-align: center;
}

.prename {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2.5vw;
  margin-top: 1rem;
  text-align: center;
}

.name {
  font-family: 'Bluehonest', cursive;
  font-weight: 400!important;
  font-size: 5.6vw;
  margin-top: -1.2rem;
  text-align: center;
}

.weddingDate {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2.0vw;
  margin-top: -2.8rem;
  text-align: center;
}

.imgContainer{
  position:relative;
  width: 100%;
  height: 100%;
  display: table;
  z-index: -1;
}

.imgContainer img {
  position: relative;
}

.rsvpPhoto {
  z-index: 1 !important;
  overflow: hidden;
}

.rsvpForm {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  padding: 70px 50px !important;
}

.rsvpPhoto img {
  /* center the image vertically */
  position: absolute;
  top:-100%; left:0; right: 0; bottom:-100%;
  margin: auto;
}

.rsvpForm .row>* {
  margin-bottom: 37px;
}

.rsvpForm .row {
  padding-left: 50px;
  padding-right: 50px;
}

.rsvpForm .invitation {
  font-family: "Bluehonest", cursive;
  font-size: 6vh;
  text-align: center;
  color: #7b7571;
  word-spacing: -14px;
}

.openSans {
  font-family: 'Open Sans', sans-serif !important;
}

.desktop.imgContainer {display:block;}
.mobile.imgContainer {display:none}

@media all and (max-width: 991px) {
  .desktop.imgContainer {display: none;}
  .mobile.imgContainer {display: block;}
  .name {top: 90px;}
}

/* Bootstrap Related */
.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.row>* {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

/* Material UI related */
.MuiFormLabel-root {
    color: rgb(93, 88, 84) !important;
} 